hyprland
hyprpaper
hyprlock
hyprpanel

kitty
nautilus
firefox
gnome-system-monitor
octopi
make
mpv

gtk2
gtk3
gtk4
qt5ct
qt6ct

fastfetch
power-profiles-daemon
upower
networkmanager
bluez
bluez-utils
blueman
wl-clipboard
tree
swww
zoxide

grim
slurp
hyprctl
hyprpicker
wl-copy
jq
notify-send

apple-fonts
ttf-nerd-fonts-symbols-mono
ttf-nerd-fonts-symbols-mono
ttf-jetbrains-mono-nerd
